@model List<UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove user from this role</h2>

        </div>
        <div class="card-body">

            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <!--these values are automatically passed to List<UserRoleViewModel> - 
                        if these hidden attributes weren't here then UserName and UserId in HTTPPOST method in controller will be null
                        so it populates missing parameters in model-->
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input type="hidden" asp-for="@Model[i].UserId" />

                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }

        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditRole"
               asp-route-id="@roleId" class="btn btn-primary" style=" width:auto">Cancel</a>

        </div>
    </div>

</form> 