@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService;
@{
    ViewBag.Title = "All Roles";
}

<h1> All Roles </h1>

@if (Model.Any())
{<a asp-controller="administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto">
        Create Role
    </a>
    foreach (var role in Model)
    {

        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRole-@role.Id">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteRole-@role.Id" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation-@role.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmation-@role.Id">Are you sure you want to delete role @role.Name ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <!--Delete needs to be in post request-->
                                <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles to display.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use button below to create a new role:
            </h5>
            <a asp-controller="administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto">
                Create Role
            </a>
        </div>
    </div>
}